
@media (min-width: 376px) { 
    .mobile {
        display: none;
    }
    .desktop > img {
        border-radius: 10px 0 0 10px;
    }
}
@media (max-width: 376px) { 
    .desktop {
        display: none;
    }
    .mobile > img {
        border-radius: 10px 10px 0 0;
    }

}